@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
    background-color: hsl(212, 45%, 89%);
    /* width: 1440px; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-family: Outfit;
    text-align: center;
}

.container {
    display: flex;
  flex-direction: column;
  align-items: center;
    margin: auto;
    /* width: 260px;
    height: 400px; */
    max-width: 20rem;
    background-color: white;
    border-radius: 1.25em;
    padding: 1rem;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: larger;
    font-weight: 700;
}

.qr-image {
    width: 230px;
    height: 230px;
    display: block;
    max-width: 100%;
    border-radius: 0.7em;
    font-weight: 400;

}

.descp-title {
    color: hsl(218, 44%, 22%);
}

.descp {
    color: hsl(220, 15%, 55%);
    font-size: 11px;
}

@media (max-width:375px) {}

@media (min-width: 1025px) and (max-width: 1440px) {}
